<h1>All Outstanding Issues</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>

  <% @problems.each do |problem| %>
    <tr>
      <td><%= problem.problem_name %></td>
      <td><%= problem.problem_des %></td>
      <td><a href="mailto:<%= problem.user_name %>"><%= problem.user_name %></a></td>
    </tr>
  <% end %>
</table>
